@import '~react-md/src/scss/react-md';
$md-primary-color: #fd6244;
$md-secondary-color: $md-red-800;
$md-tertiary-color: #44defc;

.main-container,
.darker-background {
    background-color: $md-tertiary-color;
}

a:link {
    color: $md-secondary-color;
    text-decoration: none;
}
